@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

body {
  background-color: #000;
  font-family: Montserrat, sans-serif;
  color: #fff;
  -o-object-fit: none;
  object-fit: none;
  margin: auto 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  max-width:940px;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.column {
  width: 50%;
  position: relative;
  float: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.name {
  font-size: 3.6em;
  font-weight: 400;
  text-align: center;
  letter-spacing: 15px;
  text-transform: uppercase;
}

.summary {
  max-width: 25vw;
  margin-top: 40px;
  padding: 1.6em 1.5em;
  border-radius: 15px;
  background-color: #feda14;
  box-shadow: 5px 5px 0 0 #fff;
  color: #000;
  font-size: 1.5em;
  font-weight: 300;
  text-align: left;
}

.hassaan-potrait {
  max-width: 80%;
  width: 35%;
  border: solid 5px #fff;
  border-radius: 15px;
  height: fit-content;
  margin: 0 2%;
}

.contact-click {
  position: fixed;
  top: 11%;
  right: 8%;
  width: 9vw;
  height: 9vw;
  border-radius: 50%;
  background-color: #dbae10;
  -o-object-fit: fill;
  object-fit: fill;
  cursor: pointer;
}

.background-bar {
  position: absolute;
  left: 23vw;
  top: 12vh;
  z-index: -1;
  width: 525px;
  height: 5em;
  background-color: #4748ac;
}

.experience {
  width: 65vw;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-size: 1.8em;
  line-height: 1em;
  font-weight: 400;
  text-align: left;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 73vw;
  margin-right: auto;
  margin-left: auto;
  padding: 1em 0.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: solid 5px white;
  border-radius: 15px;
}

.container-2 {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block {
  margin: 1% auto;
  padding-right: 1.5em;
  padding-left: 1.5em;
  color: #feda14;
  font-size: 2.5em;
  font-weight: 500;
}

@media screen and (max-width: 1040px){
  .name {
    font-size: 2.5em;
    letter-spacing: 0.4em;
  }

  .summary {
    max-width: 25vw;
    margin-top: 30px;
    padding: 1.6em 1.5em;
    font-size: 1.0em;
    font-weight: 300;
  }
}

@media screen and (max-width: 792px) {
  .name {
    font-size: 1.65em;
    letter-spacing: 0.3em;
  }

  .summary {
    max-width: 25vw;
    margin-top: 10px;
    font-size: 0.85em;
  }

  .hassaan-potrait {
    width: 45%;
  }

  .contact-click {
    top: 11%;
    right: 8%;
    width: 9.5vw;
    height: 9.5vw;
  }

  .background-bar {
    top: 6vh;
    left: 3vw;
    width: 70%;
  }

  .text-block {
    font-size: 1.2em;
  }

  .experience {
    width: 70vw;
    font-size: 0.8em;
  }
}

@media screen and (max-width: 479px) {
  .column {
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }

  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    /* width: fit-content; */
  }

  .summary {
    max-width: 70vw;
    font-size: 0.8em;
  }

  .hassaan-potrait {
    width: 73%;
  }

  .contact-click {
    top: 15%;
    right: 15%;
    width: 14vw;
    height: 14vw;
  }

  .background-bar {
    top: 55vh;
    left: 0vw;
    width: 100vw;
  }

  .experience {
    font-size: 0.6em;
  }
}
